body, html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  background-image: linear-gradient(270deg,#46FB4D,#3B3CB6);
  /* background-image: linear-gradient(top,#46FB4D,#3B3CB6); */
}